/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.my_close{
  width: 78px;
  background:#11101d;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #11101d;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.my_close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.my_close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.my_close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.my_close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.my_close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
  background:#1d1b31 ;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
  background: #1d1b31;
}
.sidebar.my_close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.my_close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar {
  background:#1d1b31 ;
}
.sidebar.my_close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
 
}

.home-section{
  position: relative;
  background: #167ba2;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;

}
.sidebar.my_close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-content{
  display: flex;
  align-items: center;
 
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  cursor: pointer;
  margin-right: 10px;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.my_close{
    width: 78px;
  }

  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.my_close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("https://cdn.pixabay.com/photo/2020/04/22/12/06/adventure-5077760_960_720.jpg");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}

.masthead h1,
.masthead .h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.choose_adventure .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.choose_adventure {
  background: #167ba2;
}
.choose_adventure .boxes .box{
  margin: 20px 0;
  width: calc(100% / 2 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
  background: #dea82a;
  color:rgb(30, 4, 157) ;
  
}
.choose_adventure .boxes .box:hover{
  background: rgb(30, 4, 157);
  color: #dea82a;
}


.choose_adventure .boxes .box .image_div .box_image {
  height: 125px;
  width: 125px;
}

.choose_adventure .boxes .box:hover .topic,
.choose_adventure .boxes .box:hover p{
  color: #0E2431;
  transition: all 0.4s ease;
}
.choose_adventure .boxes .box:hover .topic,
.choose_adventure .boxes .box:hover p{
  color: #fff;
}



.img2 {
  
  width: 300px;
  height: 150px;
  
}

#img1 {
  width: 125%;
 
} 

.container_1 {
  text-align: center;
}

#myCarousel {
  background-color: red;
  height: 325px;
  width: 275px;
  
  }

#myCarousel img {
  height: auto;
  width: auto;
  margin-left: 0;
 
}

.carousel-inner {
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
  font-size: 20px;
}



.links {
  display: inline;
  font-size: 20px;
  padding-left: 35px;
  padding-right: 35px;
}

#myCarousel1 {
  background-color: red;
  height: 325px;
  width: 275px;
  
  }

#myCarousel1 img {
  height: auto;
  width: auto;
  margin-left: 0;
 
}